filename of reference sequence (FASTA) : /alina-data0/sergey/CliqueSNV/refs/HCV_ref/NC_004102.fasta
filname of the aligned reads (sam format) : /alina-data0/sergey/CliqueSNV/alignment/HCV10sim.sam
paired-end (1 = true, 0 = false) : 1
SNV_thres : 0.04
reconstruction_start : 1801
reconstruction_stop: 6800
min_mapping_qual : 60
min_read_length : 150
max_insert_length : 250
characteristic zone name : test
seq_err (assumed sequencing error rate(%)) : 0.1
MEC improvement threshold : 0.0395 
