filename of reference sequence (FASTA) : /alina-data0/sergey/CliqueSNV/refs/ZIKA_ref/NC_012532.fasta
filname of the aligned reads (sam format) : /alina-data0/sergey/CliqueSNV/alignment/ZIKA3sim.sam
paired-end (1 = true, 0 = false) : 1
SNV_thres : 0.05
reconstruction_start : 3800
reconstruction_stop: 5799
min_mapping_qual : 60
min_read_length : 150
max_insert_length : 250
characteristic zone name : test
seq_err (assumed sequencing error rate(%)) : 0.1
MEC improvement threshold : 0.0395 
